$cWhite:#fff;
$cGray: #f4f5f5;
$cSecondBg: #f4f6f5;
$cBorder: #e2e4e4;
$cGreen:#25c49f;
$cBlack: #1f3732;
$cText: #52605d;
$cReverse: #c4254a;
$cSecondText:#788784;
$placeHolder: #dde4e2;
$contentMaxWidth: 1080px;
$twitter: #00acee;
$qiita: #55C501;
