body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

body, html {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Alberta'; // <-好きな名前をつけれます。
  src: url('../font/Alberta.otf') format("opentype");
}

.is-pc {
  @include pcall {
    display: block;
  }
  @include sp {
    display: none;
  }
}

.is-sp {
  @include pcall {
    display: none;
  }
  @include sp {
    display: block;
  }
}
